POSTGRES_DB=translog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

JWT_SECRET=your_jwt_secret

INITIAL_SUPERVISOR_EMAIL=admin@translog.com
INITIAL_SUPERVISOR_PASSWORD=your_admin_password
INITIAL_SUPERVISOR_NAME=Admin