.shipments-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.link-button {
  border: none;
  background: none;
  padding: 0;

  color: #551a8b;
  text-decoration: underline;
  font: inherit;
  cursor: pointer;
}